/* LG - SMALL LAPTOPS : 1024px - 1280 px*/
@media (max-width: 1050px) {
  .header-container {
    height: 200px;
  }
  .name {
    font-size: 60px;
    word-spacing: 150px;
  }
  .logo-link {
    width: 200px;
    height: auto;
  }
  .logo {
    width: 200px;
    height: auto;
  }
  .splash-image {
    height: 800px;
  }
  .mission-statement {
    font-size: 3rem;
    padding-top: 52vh;
  }
  #about {
    scroll-margin-top: 200px;
  }
  .brief h2 {
    font-size: 3rem;
  }
  .brief p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 80px;
  }
  .blacksmith {
    margin: 20px;
  }
  #products {
    scroll-margin-top: 200px;
  }
  .products-title {
    font-size: 2rem;
  }
  .steel h2 {
    font-size: 1.5rem;
  }
  .resin h2 {
    font-size: 1.5rem;
  }
  .wooden h2 {
    font-size: 1.5rem;
  }
  .resin {
    height: 490px;
  }
  #team {
    scroll-margin-top: 200px;
  }
  .team-title {
    font-size: 2rem;
  }
  .team-container p {
    font-size: 1.5rem;
  }
  .master h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .artisan h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .craftsman h2 {
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .contact-container h1 {
    font-size: 3rem;
  }
  .contact-container p {
    font-size: 1.5rem;
  }
}

/* MD - TABLETS : 768px - 1024px */
@media (max-width: 980px) {
  .mission-statement {
    font-size: 3rem;
    padding-top: 52vh;
  }
  .nav-bar li a {
    font-size: 0.75rem;
    padding: 4px 10px;
  }
  /* MASTER CARD*/
  .master {
    width: 400px;
    height: 500px;
  }
  .master h2 {
    margin-bottom: 20px;
  }
  .card-1 {
    width: 300px;
    height: 400px;
  }
  .card-front-1,
  .card-back-1 {
    width: 300px;
    height: 400px;
  }
  .card-front-1 img {
    width: 300px;
    height: 400px;
  }
  .card-back-1 {
    gap: 1rem;
  }
  /* ARTISAN CARD */
  .artisan {
    width: 400px;
    height: 500px;
  }
  .artisan h2 {
    margin-bottom: 20px;
  }
  .card-2 {
    width: 300px;
    height: 400px;
  }
  .card-front-2,
  .card-back-2 {
    width: 300px;
    height: 400px;
  }
  .card-front-2 img {
    width: 300px;
    height: 400px;
  }
  .card-back-2 {
    gap: 1rem;
  }
  /* CRAFTSMAN CARD */
  .craftsman {
    width: 400px;
    height: 500px;
  }
  .craftsman h2 {
    margin-bottom: 20px;
  }
  .card-3 {
    width: 300px;
    height: 400px;
  }
  .card-front-3,
  .card-back-3 {
    width: 300px;
    height: 400px;
  }
  .card-front-3 img {
    width: 300px;
    height: 400px;
  }
  .card-back-3 {
    gap: 1rem;
  }
}

@media (max-width: 825px) {
  .steel {
    width: 300px;
    height: auto;
  }
  .steel h2 {
    font-size: 1.5rem;
  }
  .resin {
    width: 300px;
    height: auto;
  }
  .resin h2 {
    font-size: 1.5rem;
  }
  .wooden {
    width: 300px;
    height: auto;
  }
  .wooden h2 {
    font-size: 1.5rem;
  }
}

/* SM - PHONE LANDSCAPE : 576 - 768px */
@media (max-width: 700px) {
  .header-container {
    height: 150px;
  }
  .name {
    font-size: 50px;
    word-spacing: 110px;
  }
  .logo-link {
    width: 150px;
    height: auto;
  }
  .logo {
    width: 150px;
    height: auto;
  }
  .splash-image {
    height: 800px;
  }
  .mission-statement {
    font-size: 3rem;
    padding-top: 50vh;
  }
  .contact-container {
    height: 210px;
  }
  .contact-container h1 {
    font-size: 2rem;
    margin: 10px 0;
    text-shadow: 1px 1px 2px white;
  }
  .contact-container p {
    font-size: 1rem;
    line-height: 0.1;
  }
}

@media (max-width: 635px) {
  .mission-statement {
    font-size: 2.5rem;
    padding-top: 55vh;
  }
}

@media (max-width: 600px) {
  .header-container {
    height: 50px;
    justify-content: left;
  }
  .name {
    font-size: 15px;
    word-spacing: 0;
    margin: 0;
    padding-left: 50px;
    text-shadow: 1px 1px 2px gold;
  }
  .logo-link {
    width: 50px;
    height: auto;
    left: 0;
    top: 0;
    transform: none;
  }
  .logo {
    width: 50px;
    height: auto;
  }
  .nav-bar li a {
    font-size: 0.6rem;
  }
  .nav-bar li a {
    padding: 4px 5px;
  }
  .splash-image {
    height: 320px;
  }
  .mission-statement {
    font-size: 1rem;
    padding-top: 22vh;
  }
  #about {
    scroll-margin-top: 50px;
  }
  .brief h2 {
    font-size: 2rem;
  }
  .brief p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 80px;
  }
  .blacksmith {
    margin: 20px;
    width: 100%;
    max-width: 400px;
    height: 400px;
  }
  #products {
    scroll-margin-top: 50px;
  }
  .products-title {
    font-size: 1.5rem;
  }
  #team {
    scroll-margin-top: 50px;
  }
  .team-title {
    font-size: 1.5rem;
  }
  .team-container p {
    font-size: 1rem;
  }
  .master h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .artisan h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .craftsman h2 {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .contact-container h1 {
    font-size: 2rem;
  }
  .contact-container p {
    font-size: 1rem;
  }
}

/* XS : < 576px */

@media (max-width: 460px) {
  .header-container {
    height: 70px;
    justify-content: left;
  }
  #about {
    scroll-margin-top: 70px;
  }
  .name {
    font-size: 15px;
    word-spacing: 0;
    margin: 0;
    padding-left: 80px;
  }
  .logo-link {
    width: 80px;
    height: auto;
    left: 0;
    top: -5%;
  }
  .logo {
    width: 80px;
    height: auto;
  }
  .nav-bar li a {
    font-size: 0.5rem;
  }
  .nav-bar li a {
    padding: 4px 5px;
  }
  .splash-image {
    height: 320px;
  }
  .mission-statement {
    font-size: 1rem;
    padding-top: 22vh;
  }
}

@media (max-width: 430px) {
  .header-container {
    height: 70px;
    justify-content: left;
  }
  .name {
    width: 150px;
    font-size: 15px;
    word-spacing: 0;
    margin: 0;
    padding-left: 80px;
    line-height: 1.6;
  }
  .logo-link {
    width: 80px;
    height: auto;
    left: 0;
    top: -5%;
  }
  .logo {
    width: 80px;
    height: auto;
  }
  .nav-bar li a {
    font-size: 0.5rem;
  }
  .nav-bar li a {
    padding: 4px 5px;
  }
  .splash-image {
    height: 320px;
  }
  .mission-statement {
    font-size: 1rem;
    padding-top: 22vh; /* 30vh for mobile */
  }
  .brief p {
    padding: 0 40px;
  }
  .blacksmith {
    margin: 20px;
    width: 100%;
    max-width: 300px;
    height: 300px;
  }
  .steel h2 {
    font-size: 1rem;
  }
  .resin h2 {
    font-size: 1rem;
  }
  .wooden h2 {
    font-size: 1rem;
  }
  .team-container p {
    margin-left: 40px;
    margin-right: 40px;
  }
}
